{% extends "base.html" %}

{% block content %}
	<hr>
	<div  style="max-width:700px; text-align:center; margin:10% 0 0 20%">
		<div class="row">
		<h1 style="font-size:70px">You've Logged Out!</h1>
		<h2>Thank you for shopping!</h2>
		</div>
		
		<div class="row" style="margin-left:10%; margin-top:5%">
		  <div class="span3">	
			<a class="btn btn-large btn-info" style="color:white" href="/shop_online.html">Continue Shopping</a>
		  </div>
		  <div class="span3">	
			<a class="btn btn-large btn-info" href="/index.html">Go back to Home Page</a>
		  </div>
		</div>
	</div>
{% endblock %}