{% extends "base.html" %}
{% block content %}
{% if form.errors %}
	<div style="text-align:center; margin-top:5%; margin-left:8%; margin-bottom:-6%;">
	<ul class="errorlist">
		<h1 style="color:red; font-size:32px">You entered an invalid username or password.</h1>
	</ul>
	</div>
{% endif %}


<div class="container" style="width:300px; margin-left:40%; margin-top:-2%">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h2>Login</h2>
					<form method="post" action="{% url django.contrib.auth.views.login %}">
					{% csrf_token %}
						<fieldset>
							<div class="clearfix">
								<input type="text" style="width:200px;height:30px;" name="username"placeholder="Username">
							</div>
							<div class="clearfix">
								<input type="password" style="width:200px;height:30px;" name="password" placeholder="Password">
							</div>
							<button class="btn btn-info" type="submit" value="Login">Sign in</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div> <!-- /container -->

{% endblock %}
