{% extends "base.html" %}
{% block content %}
<div class="wrapper" style=" margin: 0 auto; width: 50%; padding-top: 30px;">
<h1>Edit Order Information</h1>
<form action="." method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<div class='row' style='margin-left:15%'>
<input style='font-size:13px' type="submit" value="Save Information" class="btn btn-primary btn-small search_btn" />
<a class="btn btn-info" href="{% url my_account %}">Go Back To My Account</a>
</div>
</form>

{{ response }}
{% if error_message %}
<ul class="errorlist">
<li>{{ error_message }}</li>
</ul>
{% endif %}

</div>
{% endblock %}


