{% extends "base.html" %}

{% block content %}
<div  style="max-width:700px; text-align:center; margin:10% 0 0 20%">
		<div class="row">
		<h1 style="font-size:70px">Password Changed</h1>
		</div>
		
		<div class="row" style="margin-left:10%; margin-top:5%">
		  <div class="span3">	
			<a class="btn btn-large btn-info" style="color:white" href="url catalog_home">Continue Shopping</a>
		  </div>
		  <div class="span3">	
			<a class="btn btn-large btn-info" href="{% url my_account %}">Go Back To My Account</a>
		  </div>
		</div>
	</div>
{% endblock %}