

{% extends "base.html" %}

{% block content %}


<div class="container" style="width:500px; margin-left:30%; margin-top:-2%">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h2>Change Password</h2>
					<form method="post" action=".">
					{% csrf_token %}
						<table class='table'>
					{{ form.as_table }}
			<tr>
				<td colspan="2" class="right">
				<input class="btn btn-danger" type="submit" name="submit" value="Change" />
				<a href={% url my_account %} class="btn btn-danger">Cancel</a>
				</td>
				
			</tr>
		</table>	
					</form>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
{% endblock %}
