@CHARSET "UTF-8";

.e-container-fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}

#services-wrapper {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.services-h1 {
	padding: 5px 0 15px 0;
	position: relative;
	font-size: 20px;
}

.services-content-block {
	padding: 15px 0 25px 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.services-content-left {
	width: 50%;
	display: inline-block;

}

.services-content-left-image {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.services-content-left-text {
	display: inline;
	width: 29%;
	position: absolute;
	padding-left: 10px;

}

.services-content-right {
	width: 50%;
	display: inline;

}

.services-content-right-image {
	width: 50px;
	height: 50px;
	display: inline-block;

}

.services-content-right-text {
	display: inline;
	width: 30%;
	position: absolute;
	padding-left: 10px;
	
}

/* camera (carousel) tweaks */
.padding-wrapper {
	padding: 2px 30% 2px 30%;
}

#camera_wrap {
	margin-bottom: 30px;
}