/* Body, Typography, etc. */

body {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 14px;
}

.ads{
	margin-top: -45px; 
	margin-left: 80px;
	font-size: 15px;
	font-family: "Comic Sans MS";
	width:500px;
}
.navbar .brand {
	font-family: 'Comic Sans MS', cursive;
	color: #C46D3B;
	font-size: 32px;
	
}

a.brand {
	font-family: 'Limelight', cursive;
	color: #C46D3B;
	font-size: 32px;
	text-decoration: none;
}

a {
	color: #333;
}

a:hover {
	color: #C46D4B;
	cursor: pointer;
}

h1 {
	font-size: 42px;
	padding-bottom: 20px;
}

.subtitle {
	font-size: 18px;
	font-weight: 200;
}

/* Top Navigation Bar */

.navbar-inner {
	background: none repeat 0 0 #fafafa;
	background-image: none;
	filter: none;
	height: 110px;
}

.navbar-inner .container-fluid {
	padding: 20px 60px;
}

.navigation-top {
	color: #111;
}

.navbar .nav > li > a {
	padding: 20px;
	color: #333;
	font-size: 14px;
	text-shadow: none;
}

.navbar .nav > li > a:hover {
	color: #C46D3B;
}

body.index .navbar li.index > a, body.services .navbar li.services > a, body.portfolio .navbar li.portfolio > a, body.about .navbar li.about > a, body.contact .navbar li.contact > a  {
	background-color: #333;
    color: #FFFFFF;
    text-decoration: none;
    height:12px;
    
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	border-radius: 0;
	font-weight: normal;
}

.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

/* Header */

.header-padding {
	padding-top: 10%;
}

/* Main Content */

.text-background {
	background: none repeat scroll 0 0 #fafafa;
	background-color: #fff !important;
}

.content-main {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-bottom: 18px;
}
.search_bar{
	background-color: #f5f5f5; 
	margin-left:950px; 
	margin-top:-10px
}
.theme-icon {
	width: 62px;
	padding: 0 10px 10px 0;
}

.page-header {
	text-align: center;
}

.about-people {
	background-color: #aeaeae;
}

#map_canvas {
       margin: 0;
       padding: 0;
       height: 300px;
}

#map_canvas  img {
  max-width: none;
}

#map_canvas label { 
  width: auto; display:inline; 
}

.btn-services {
	font-size: 18px;
	font-weight: bold;
}

/* Wrapper & Footer */

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

footer {
	color: #fafafa;
	background-color: #333;
	font-size: 14px;
}

footer a {
	color: #fafafa;
	text-decoration: underline;
}

footer a:hover {
	color: #C46D3B;
}

.footer-heading {
	padding-bottom: 10px;
}

.social-icon i {
	overflow: hidden;
	height: 62px;
	width: 62px;
	display: inline-block;
}

.social-icon.twitter i {
	background-image: url("/static/images/twitter.png")
}

.social-icon.facebook i {
	background-image: url("/static/images/facebook.png")
}

.social-icon.linkedin i {
	background-image: url("/static/images/linkedin.png")
}

.social-icon.pinterest i {
	background-image: url("/static/images/pinterest.png")
}

.social-icon.rss i {
	background-image: url("/static/images/rss.png")
}

.social-icon i:hover {
	background-position: 0 62px;
}

.footer-contact div.contact {
	padding-bottom: 20px;
}

.footer-contact div.contact p {
	display: inline;
	padding-left: 20px;
}

.footer-contact div.address img {
	padding-bottom: 25px;
}

.footer-contact div.contact div.address {
	padding-left: 20px;
	display: inline-block;
}

hr.footer {
	height: 1px;
	border: none;
	background-color: #777;
}

div.square-turtle {
	font-size: 12px;
}

/* Miscellaneous */

.padding-wrapper {
	padding: 20px 80px 20px 60px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

div.row-fluid.spacer {
	padding: 10px 0;
}

div.row-fluid.spacer-footer {
	padding: 15px 0 20px 0;
}

/* IE 7 */

.camera_pag_ul {
	*display: none;
}

.content-main {
	*margin-top: 40px
}

.footer-contact div.contact div.address {
	*position: relative;
	*left: 35px;
	*top: -50px
}
