{% extends "base.html" %}

	{% block lightviewCSS %}
	<!-- Lightview -->
		<link rel="stylesheet" type="text/css" href="/static/css/lightview.css"/>
			
		<!--[if lt IE 9]>
			<script type="text/javascript" src="scripts/excanvas.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/static/scripts/spinners.min.js"></script>
		<script type="text/javascript" src="/static/scripts/lightview.js"></script>
	{% endblock %}
	
	{% block body_header%}
	<body class="about">
	{% endblock%}

	{% block site_wrapper %}
	<div class="wrapper">
		
		<div class="container-fluid text-background content-main">
			<div class="header-padding hidden-phone hidden-tablet">&nbsp;</div>
			<div class="padding-wrapper">
				<div class="row-fluid">
					<div class="span12 page-header">
						<h1>About Michael A. Collins-Fine Jewelers</h1>
						<p class="subtitle">Michael guarantees customer satisfaction.</p>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span2">
						<h3>Our history</h3>
						<p>Owner Michael A. Collins takes tremendous pride in providing quality products and services to his customers. Many San Diegans have considered him their "jewelry guru" since 1980, when he opened his La Mesa store.</p>
					</div>
					<div class="span4">
						<p>
							Jewelry has been the focus of Michael Collins' life since the day in 1968 that he entered a St. Louis jewelry store looking for a job that would help him pay his rent. Recognizing his talent, the store owners sent him to Kansas City for additional training and also facilitated his ability to earn a college degree in marketing/advertising.
<br>
<br>
Michael worked for a large jeweler for seven years, opening stores in seven different states. A competitor recruited him to the San Diego area, where he was responsible for several of its local jewelry stores for more than four years. After nearly a decade of working for other people, Michael realized the only way to have total control over the quality of the jewelry he sold was to have his own store.
<br>
<br>
Since 1980, that store, Michael A. Collins-Fine Jewelers, has been a fixture in La Mesa, and attracted customers from throughout San Diego. Word-of-mouth has been Michael's predominant advertising vehicle, which speaks to the high quality of his work.						</p>
						<p>
							Michael helps customers bring their jewelry design concepts to reality. Starting with an idea on paper, he produces a wax carving and then casts it in silver, gold or platinum. Michael also loves working with color; he has three people who travel the world to find interesting pieces for him in all hues.
<br>
<br>
Michael offers:
<br>
<br>
The best quality diamonds.
Diamonds at the best prices.
Unmatched service and return policies.
The best jewelry guidance and education.
						</p>
					</div>
					<div class="span6">
						<a class="lightview" href="/static/images/about-mf-large.png" data-lightview-title="The Millennium Falcon" data-lightview-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
							<img class="thumbnail" src="/static/images/about-mf.png" alt="Millenium Falcon" />
						</a>
					</div>
				</div>
				
				<hr />
				
				<div class="row-fluid">
					<div class="span2">
						<h3>Meet Micheal</h3>
						<p>Your jewelry guru</p>
					</div>
					<div class="span3">
						<div class="thumbnail">
							<img src="/static/images/about-man.png" alt="CEO, Brad" />
							<div class="caption">
								<h4>Michael A. Collins</h4>
								<p>Your full-service jeweler</p>
							</div>
						</div>
					</div>
					
				</div>
				
				<hr />
				
								
				<div class="row-fluid">
                   <div class="span2">
                       <h3>Testimonials</h3>
                       <p>Ut placerat placerat tincidunt. Proin ac hendrerit mauris</p>
                   </div>
                   <div class="span10">
                       <div class="row-fluid">
                           <div class="span6">
                               <blockquote>
                                   <p>Morbi in metus enim, in lobortis nisl. Sed mollis ligula vel dolor imperdiet porta. 
                                   Curabitur sed elit faucibus est molestie mattis. Duis eleifend congue congue.</p>
                                   <small>John Doe, CFO, Windbreakers Inc.</small>
                               </blockquote>
                               
                                <br class="hidden-phone hidden-tablet" /><br class="hidden-phone hidden-tablet" />
   
                               <blockquote>
                                   <p>Ut placerat placerat tincidunt. Proin ac hendrerit mauris. Vestibulum dictum, elit in 
                                   imperdiet tristique, magna neque luctus elit, et consectetur turpis orci et augue.</p>
                                   <small>George Carrigan, Manager, CoolHouseBlues</small>
                               </blockquote>
                           </div>
                           <div class="span6">
                               <br class="hidden-phone hidden-tablet" /><br class="hidden-phone hidden-tablet" /><br class="hidden-phone hidden-tablet" />
                               <br class="hidden-phone hidden-tablet" /><br class="hidden-phone hidden-tablet" />
                               <blockquote>
                                   <p>Sed mollis ligula vel dolor imperdiet porta.</p>
                                   <small>Old Man, Rolling Home Enterprises</small>
                               </blockquote>
                           </div>
                       </div>
                   </div>
               </div>
				
			</div>
		</div>
		
	</div>
	{% endblock %}

