{% extends "base.html" %}
	

	{% block body_header%}
	<body class="services">
	{% endblock%}

{% block site_wrapper %}
	<div class="wrapper">
		
		<div class="container-fluid text-background content-main">
			<div class="header-padding hidden-phone hidden-tablet" style="padding-top:5px">&nbsp;</div>
			<div class="padding-wrapper">
				<div class="row-fluid">
					<div class="span12 page-header">
						<h1>Our Services</h1>
						<p class="subtitle">It is a long established fact that a reader will be <em>distracted</em> by 
						the <strong>readable</strong> content of a page when looking at its <strong><em>layout.</em></strong></p>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="span12">
						<img src="/static/images/newyork.jpg" alt="Services Header" />
					</div>
				</div>
				
				<hr />
				
				<div class="row-fluid">
						
					<div class="span12">
						<div class="row-fluid">
							<div class="span3">
								<h2>Lorem ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<img class="thumbnail" src="/static/images/220x150.gif" alt="Placeholder" />
							</div>
							
							<div class="span9">
								<dl>
									<dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd><dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd>
								</dl>
							</div>							
						</div>
						
						<hr />
						
						<div class="row-fluid">
							<div class="span3">
								<h2>Vestibulum</h2>
								<p>Vestibulum at felis quis mauris.</p>
								<img class="thumbnail" src="/static/images/220x150.gif" alt="Placeholder" />
							</div>
							
							<div class="span9">
								<dl>
									<dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd><dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd>
								</dl>
							</div>							
						</div>
						
						<hr />
						
						<div class="row-fluid">
							<div class="span3">
								<h2>Aenean nibh</h2>
								<p>Aenean nibh sapien, suscipit molestie.</p>
								<img class="thumbnail" src="/static/images/220x150.gif" alt="Placeholder" />
							</div>
							
							<div class="span9">
								<dl>
									<dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd><dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd>
								</dl>
							</div>							
						</div>
						
						<hr />
						
						<div class="row-fluid">
							<div class="span3">
								<h2>Lorem ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<img class="thumbnail" src="/static/images/220x150.gif" alt="Placeholder" />
							</div>
							
							<div class="span9">
								<dl>
									<dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd><dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd>
								</dl>
							</div>							
						</div>
						
						<hr />
						
						<div class="row-fluid">
							<div class="span3">
								<h2>Aenean nibh</h2>
								<p>Aenean nibh sapien, suscipit molestie.</p>
								<img class="thumbnail" src="/static/images/220x150.gif" alt="Placeholder" />
							</div>
							
							<div class="span9">
								<dl>
									<dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd><dt>Description lists</dt>
									<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
									<dt>Nam facilisis</dt>
									<dd>Nam facilisis, erat rhoncus mattis pellentesque, velit eros rutrum sapien, sed varius lorem 
									purus a turpis.</dd>
									<dt>Quisque et rhoncus enim.</dt>
									<dd>Vivamus at arcu sed lorem volutpat porttitor. Cras venenatis, purus et commodo aliquam, 
									leo justo volutpat purus, eu ultricies nisl enim nec lorem. Sed eu lectus nec nisl semper 
									porta ac eu dolor. Maecenas in est sit amet arcu scelerisque convallis.</dd>
								</dl>
							</div>							
						</div>
										
					</div>	
				</div>
			</div>
			
		</div>
		
	</div>
	{% endblock %}

