{% extends "base.html" %}
{% load catalog_filters %}
{% block content %}
<div class="span12"  style="margin-top:30px; margin-left:70px;" >
<table class="table table-bordered table-striped" summary="Your Shopping Cart" id="shopping_cart">

<h1 style="font-size:30px;">
Details for Order # {{ order.id }}
</h1>

<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Price</th>
<th scope="col">Quantity</th>
<th class="right" scope="col">Total</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="4" class="right" style="height:30px;">
Order Total: {{ order.total|currency }}
</td>
</tr>
</tfoot>
<tbody>
{% for item in order_items %}
<tr>
<td>
<a href="{{ item.get_absolute_url }}">
{{ item.name }}
</a>
</td>
<td>{{ item.price|currency }}</td>
<td>{{ item.quantity }}</td>
<td class="right">{{ item.total|currency }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}