{% extends "catalog.html" %}
{% load catalog_filters %}

{% block checkoutValidationJs %}
	<script type="text/javascript" src="/static/scripts/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/static/scripts/validateProduct.js"></script>
	
{% endblock %}

{% block catalog_content %}
	<div class="row">
		<div class="span9">
			<div class ="e-product_name">
			{{ p.name}}
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span3" style = "width: 45%">
		  <a href="/static/user_images/{{p.image}}" class="lightview" data-lightview-group="index">
			<img src="/static/user_images/{{p.image}}" style="display:block; margin: 0 auto;" alt="{{ p.name }}" />
		  </a>
			<ul class ="e-thumbnails" style="padding-top: 15px;">
				{% if p.image2 and p.thumbnail2 %} 
				<li>
					<div class ="e-thumb">
					<a href="/static/user_images/{{p.image2}}" class="lightview" data-lightview-group="index">
					<img src="/static/user_images/{{p.thumbnail2}}"> 
					</a>
					</div>
				</li>
				{% endif%}
				
				
				{% if p.image3 and p.thumbnail3 %} 
				<li>
					<div class ="e-thumb">
					<a href="/static/user_images/{{p.image3}}" class="lightview" data-lightview-group="index">
					<img src="/static/user_images/{{p.thumbnail3}}"> 
					</a>
					</div>
				</li>
				{% endif %}
				
				{% if p.image4 and p.thumbnail4 %} 
				<li>
					<div class ="e-thumb">
					<a href="/static/user_images/{{p.image4}}" class="lightview" data-lightview-group="index">
					<img src="/static/user_images/{{p.thumbnail4}}"> 
					</a>
					</div>
				</li>
				{% endif %}
	
			</ul>
			<!-- social sharing code -->
				<div class="row-fluid">
					<!-- begin facebook like code -->
						<div class="span3" style='margin-top:3px'>
							<div class="fb-like" data-href="http://thiswillgetreplaced.com" data-send="false" data-width="100" data-show-faces="true" layout="button_count">
							</div>		
						</div>
					<!-- end facebook like code -->
					<!-- begin pintrest pin code -->
						<div class='span2'>	
							<a data-pin-config="none" data-pin-do="buttonBookmark" href="//pinterest.com/pin/create/button/">
								<img src="//assets.pinterest.com/images/PinExt.png" />
							</a>	
						</div>
					<!-- end pintrest pin code -->
					<!-- begin twitter tweet code -->
						<div class='span2' style='margin-top:5px'>
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none">Tweet</a>
						</div>
					<!-- end twitter tweet code -->
				</div>
			<!-- social sharing code -->
		</div>
		<div class="span6" style="width:44%">

			<div class="span6"  style="width:44%; 
						   border-radius: 10px 10px 10px 10px;
						   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
						   margin: 50px -20px;
                                                   padding: 20px;
						   background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);">
				<h2>
					{% if p.sale_price %}
					<strong>Was:</strong> <del>$ {{ p.old_price }}</del>
						<br/>
						<strong>Now : </strong>$ {{ p.price }}
					{% else %}
					<strong>Price:</strong> $ {{ p.price }}
				    {% endif %}
				 </h2>
				<address>
					<strong>Brand: </strong>
					<span> {{p.brand }} </span>
					<br>
					<strong>In categor{{ categories.count|pluralize:"y,ies" }}:
					</strong>
					{% for c in categories %}
						<a href="{{ c.get_absolute_url }}"> {{c.name}}</a>
						{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</address>
			<form id= 'checkout_form' method="post" action="." class="cart">
				{% csrf_token %}
					{{ form.as_p }}
				<input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" />	
			</form>
			<br /> <br />
			</div>	

		</div>
	</div>
		<hr>
		<div class="row" style="margin-bottom:60px;">
			<div class="span9">
			<h3>Product Description</h3>
				{{ p.description }}
			</div>
		</div>
		
	
	
	
	
{% endblock %}